body {
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  align-items: center;
  min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  width: 720px;
  padding: 10px;
}

.title-container {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 0;
  font-size: 3rem;
  line-height: normal;
}

.title-container img,
.title-container p {
  display: inline-block;
  height: fit-content;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.question {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  padding: 0.5rem 3rem 0.5rem .5 rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.question::after {
  content: url(assets/images/icon-plus.svg);
  position: absolute;
  right: 1rem;
}

.question.active::after {
  content: url(assets/images/icon-minus.svg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-content {
  color: hsl(292, 16%, 49%);
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-color: hsl(275, 100%, 97%);
}
